:root{
  --color: #33ccff;
}
@media screen and (max-width: 1180px) {
  .about-col-data  {
    width: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
  .about-col-data  {
    width: 380px;
  }
}
@media screen and (max-width: 970px) {
  .about-col-data  {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    display: none;
    position: absolute;
    right: 0px;
    min-height: 92vh;
    top: 5vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  #header .container .text {
   align-items: center;
  }

  .about-col-data  {
    width: 100%;
    text-align: center;
  }
  .tab-title{
    justify-content: center;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-40deg) translate(-5px, 6px);
}

.toggle .line2 {
  transform: rotate(90deg) translate(0px, 0px);
}

.toggle .line3 {
  transform: rotate(35deg) translate(-5px, -6px);
}
#header .container .text {
    text-align: center;
  }
  #header .container img {
    width: 550px;
    height: 550px;
  }


  @media screen and (max-width: 550px) {
    #header .container img {
     width: 450px;
     height: 450px;
    }
    .about-col-photo  {
        width: 250px;
        height: 300px;
      }
      .about-col-data  {
        width: 100%;
      }
      .sub-title-srv {
        text-align: center;
    }
    .sub-title-wrk {
        text-align: center;
    }
    .right_box{
        width: 400px;
      }
  }
  @media screen and (max-width: 450px) {
    #header .container .text {
     width: 350px;
    }
    #header .container .text p{
     font-size: 1.7rem;
    }
    #header .container .text h1{
     font-size: 3rem;
    }
    #header .container img {
     width: 350px;
     height: 350px;
    }
  }
  @media screen and (max-width: 400px) {
    .left_box{
        width: 350px;
      }
      .right_box{
        width: 350px;
      }
  }
  @media screen and (max-width: 350px) {
    #header .container .text {
        width: 250px;
       }
       #header .container img {
        width: 250px;
        height: 250px;
       }
    .work {
        width: 300px;
        height: 630px;
    }
    .work img {
        width: 300px;
        height: 300px;
    }
    .left_box{
        width: 300px;
      }
      .right_box{
        width: 300px;
      }
  }
  @media screen and (max-width: 300px) {
    .work {
        width: 250px;
        height: 630px;
    }
    .work img {
        width: 250px;
        height: 250px;
    }
    .left_box{
        width: 250px;
      }
      .right_box{
        width: 250px;
      }
  }