* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  color-scheme: dark light;
}
:root{
  --color: #33ccff;
}
/* Navbar start  */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  align-items: center;
  min-height: 10vh;
  font-family: "Kanit", sans-serif;
  z-index: 100;
}

.logo img {
  width: 70px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.nav-links a:hover {
  color: var(--color);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}
/* Navbar end  */

/* Hero section start */
#header {
  min-height: 90vh;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 100px 0;
}
#header .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#header .container .text {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#header .container .text p {
  font-size: 2.3rem;
}
#header .container .text h1 {
  font-size: 4rem;
  text-align: left;
}
#header .container .text h1 span {
  color: var(--color);
}
#header .container img {
  width: 550px;
  height: 550px;
}
#header .container button {
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--color);
  transition: 200ms ease-in-out;
  margin-top: 15px;
}
#header .container button a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
#header .container button:hover {
  background-color: transparent;
  border: 2px solid var(--color);
  cursor: pointer;
}
#header .container button:hover a {
  color: var(--color);
}
/* Hero section end */
/* About section start */

#about {
  min-height: 70vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.about_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  gap: 3rem;
  align-items: center;
}

.about-col-photo {
  width: 350px;
  height: 400px;
  border-radius: 25px;
}
.about-col-photo img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.about-col-data {
  width: 800px;
}

.about-col-data .abt-para {
  font-size: 1.3rem;
}

.sub-title {
  font-size: 3.2rem;
  font-weight: 600;
  color: #fff;
}

.tab-title {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links:hover {
  color: var(--color);
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--color);
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* About section end */
/* Services section Start */

#services {
  min-height: 70vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.services_container {
  width: 90%;
  min-height: 100%;
  margin-top: 100px;
}

.sub-title-srv {
  font-size: 3rem;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list .services {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: 200ms ease-in-out;
}
.services-list .services:hover {
  color: #080808;
  background: var(--color);
  transform: translateY(-10px);
}

.services-list .services i {
  font-size: 3rem;
  margin-bottom: 30px;
}

.services-list .services h2 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list .services p {
  font-size: 1.1rem;
  font-weight: 100;
}


/* Services section end */
/* Project section Start */
#projects {
  min-height: 70vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.projects_conatiner {
  width: 90%;
}
.sub-title-wrk {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
}
.work {
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  height: 630px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.work img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.layer h3 {
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
}
.layer p {
  width: 90%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
}
.layer a {
  text-decoration: none;
  color: #fff;
}
.layer a i {
  font-size: 2.7rem;
}
.layer a:hover {
  text-decoration: underline;
}
.btn5:hover i {
  color: var(--color);
}
.work:hover img {
  transform: scale(1.1);
}
.btn4 {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--color);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn4:hover {
  color: #000;
  background: linear-gradient(to right, #33ccff 30%, #ffff00 100%);
}
/* Project section end */
/* Contact section Start */
#contact {
  min-height: 70vh;
  display: grid;
  place-items: center;
  width: 100%;
}
#contact h1 {
  font-size: 3rem;
  text-align: left;
}
.contact_container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.left_box {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.left_box .link {
  display: flex;
  text-decoration: none;
  color: #fff;
  gap: 1rem;
  text-align: center;
  height: 30px;
  align-items: center;
}
.left_box .link i {
  color:  var(--color);
  font-size: 1.6rem;
}
.social-icons {
  display: flex;
  gap: 2rem;
  width: 150px;
}
.social-icons a i {
  font-size: 1.8rem;
  color: var(--color);
}
.social-icons a:hover i {
  color: #fff;
}
.left_box button {
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--color);
  transition: 200ms ease-in-out;
}
.left_box button a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.left_box button:hover {
  border: 2px solid var(--color);
  background: transparent;
}
.left_box button:hover a {
  color: var(--color);
}

.right_box{
    width: 600px;
    height: 400px;
}
.right_box form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.right_box form input{
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
}
.right_box form textarea{
    width: 100%;
    height: 150px;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
}
.right_box form input::placeholder, .right_box form textarea::placeholder{
    color: #b6b3b3;
    
}
.right_box form button{
    display: inline-block;
    background: var(--color);
    color: #000;
    width: fit-content;
    border: 1px solid var(--color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 400;   
    transition: background 0.5s; 
    font-size: 18px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.right_box form button:hover{
   transform: scale(1.1); 
   background: linear-gradient(to right, #33ccff 30%, #ffff00 100%);
}
.right_box form button:focus{
   transform: scale(1); 
}


/* Contact section end */
